body{ background:#0b1220; color:#0ff; font-family:monospace; text-align:center }
select,input{ margin:10px; padding:5px; background:#111; color:#0ff; }
svg{ border:1px solid #0ff; border-radius:10px; }
